@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins-Medium.otf");
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins-Regular.otf");
}

:root {
  --color-background: #fffdf7;
  --color-black: #212121;
  --color-text: #4f4f4f;
  --color-text-out: #90908e;
  --color-primary: #ffbf00;
  --color-primary-out: #ffda6f;
  --color-secondary: #fff2cc;
  --color-white: #ffffff;
  --color-red: #e74c3c;
  --color-green: #2ecc71;
  --color-separate: #cccccc;
  --color-input-out: #ececec;
  --box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

html,
body {
  font-family: "PoppinsRegular", "Rubik", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  user-select: none;
  scroll-behavior: smooth;
}

b {
  font-family: "PoppinsMedium", "Rubik", sans-serif;
}

.hidden {
  display: none !important;
}

.loader-full {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgb(255 253 247 / 95%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pr-0 {
  padding-right: 0px !important;
}

/* ===== BANNER SUPERIOR ===== */

/* BG TOP – ocupa tudo */
.bg-top {
  width: 100%;
  height: 500%;
  background: #e63939;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  z-index: 1;
  margin-top: 70px;
}

/* Logo TUBA sobreposto acima do bg-top */
.banner-loja {
  position: absolute;
  top: -140px; /* sobe por cima do bg-top */
  left: 50%;
  transform: translateX(-50%);
  height: 250px;
  z-index: 5; /* para ficar acima de tudo */
}

/* Card da loja */
.header-loja {
  margin-top: -40px; /* card entra um pouco no bg-top */
  position: relative;
  z-index: 10; /* acima do banner */
}

.header-loja .card {
  border-radius: 22px;
  padding: 18px 20px;
  background: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  border: none;
  margin-top: 105px;
}

/* LOGO */
.container-img {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 18px;
  margin-right: 15px;
}

/* INFORMACOES */
.infos h1 {
  font-size: 19px;
  margin-bottom: 3px;
  font-weight: 700;
  color: #000;
}

.infos-sub {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link {
  color: #ffcb32 !important;
  font-weight: bold;
  font-size: 15px;
}

/* STATUS */
.status-open {
  font-size: 14px;
  color: #43d96b;
  margin-bottom: 0;
}

/* WHATSAPP */
.whatsapp-icon i {
  font-size: 25px;
  color: #25d366;
}

/* ===== CATEGORIAS ===== */

.categoria {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--color-background);
  padding-top: 15px;
}

/* ===== ITENS DO CARDAPIO ===== */

.container-group .card {
  border-radius: 18px;
  padding: 17px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container-mensagens {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 9999;
}

/* Container do Swiper */
.swiper-container {
  width: 100%;
  max-width: 600px; /* se quiser limitar a largura */
  margin: 0 auto;
  margin-top: 10px;
}

/* Slides */
.swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.swiper-slide img:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

/* Diminuir tamanho das setas */
.swiper-button-next,
.swiper-button-prev {
  width: 10px; /* largura menor */
  height: 10px; /* altura menor */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 6px; /* tamanho do ícone */
}

.swiper-pagination-bullet-active {
  background: #ff4081; /* cor de destaque */
}

.toast {
  opacity: 1 !important;
  width: auto;
  color: var(--color-white);
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.toast.red {
  background-color: var(--color-red);
}

.toast.green {
  background-color: var(--color-green);
}

.width-fix {
  width: calc(100% - 20px);
  max-width: 800px;
  margin: 0px auto;
}

.card {
  border-radius: 20px;
  padding: 15px 20px;
  font-size: 20px;
  box-shadow: var(--box-shadow) !important;
  border: none !important;
}

.infos h1 {
  font-size: 18px;
  margin-bottom: 5px;
  color: var(--color-black);
}

.status-open.closed {
  color: var(--color-red);
}

.infos-sub {
  display: flex;
  align-items: center;
  gap: 10px;
}

section.categoria {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--color-background);
  width: 100%;
  padding-top: 15px;
}

.container-menu {
  margin-bottom: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
}

.item-categoria {
  flex: none;
}

.search-container {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  transform-origin: left;
  transition: all 0.3s ease-in-out;
  transform: scaleX(0);
  opacity: 0;
  width: 0;
  padding: 0;
}

.search-container input {
  width: 99%;
}

@media (max-width: 767px) {
  .search-container input {
    width: 98%;
  }
}

.search-container.show {
  transform: scaleX(1);
  opacity: 1;
  width: auto;
}

.search-container .form-control {
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.btn-close-search {
  position: absolute;
  top: auto;
  right: 10px;
  padding: 8px 15px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 15px;
  background: none;
  color: var(--color-black);
}

#btnPesquisar {
  padding: 8px 15px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 15px;
}

.container-menu.searching #listaCategorias {
  display: none;
  transition: all 0.3s ease-in-out;
}

.container-menu.searching .search-container {
  display: flex;
}

.container-menu.searching {
  padding-left: 0px;
}

#listaCategorias {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

#listaCategorias::-webkit-scrollbar {
  height: 0px;
}

.btn-white {
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 20px;
  box-shadow: var(--box-shadow);
}

.btn-yellow {
  border: none !important;
  background-color: var(--color-primary);
  color: var(--color-black) !important;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 20px;
  box-shadow: var(--box-shadow);
}

.btn-red {
  border: none !important;
  background-color: var(--color-red);
  color: var(--color-white) !important;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 20px;
  box-shadow: var(--box-shadow);
}

.btn-sm {
  padding: 8px 13px;
  border-radius: 15px;
  font-size: 16px;
}

.btn-white:hover,
.btn-white.active {
  background-color: var(--color-primary);
}

.title-categoria {
  color: var(--color-black);
  margin-left: 5px;
}

.container-group .card {
  padding: 15px;
  cursor: pointer;
}

.container-img-produto {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-secondary);
  border-radius: 15px;
  margin-right: 20px;
  flex: none;
}

.infos-produto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pedir-produto {
  color: #ffbf00;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.item-cardapio {
  position: relative;
}

.infos-produto .name {
  font-size: 18px;
  color: var(--color-black);
  margin-bottom: 0px;
}

.infos-produto .description {
  font-size: 14px;
  color: var(--color-text);
  margin-bottom: 5px;
}

.infos-produto .price {
  font-size: 16px;
  color: var(--color-primary);
  margin-bottom: 0px;
}

.menu-bottom {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 10px;
  width: calc(100% - 20px);
  max-width: 800px;
  margin: 0 auto;
  border-radius: 50px;
  padding: 5px;
  font-size: 20px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-secondary);
  border: 1px solid #ffe28c;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-bottom-item {
  text-decoration: none !important;
  color: var(--color-text-out) !important;
  font-size: 14px;
  flex: 1;
  text-align: center;
  padding: 12px 15px;
}

.menu-bottom-item.active {
  color: var(--color-black) !important;
  font-weight: bold;
  box-shadow: var(--box-shadow);
  background-color: var(--color-primary);
  border-radius: 50px;
}

.badge-total-carrinho {
  width: 21px;
  height: 21px;
  background-color: var(--color-primary);
  color: var(--color-black);
  border-radius: 50px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  padding-top: 2px;
  margin-right: 2px;
}

.menu-bottom.disabled {
  justify-content: center;
  padding: 15px;
  font-size: 18px;
}

/* Detalhes do produto */

/* ===========
   PRODUTO ESGOTADO (DESATIVADO)
   =========== */
.item-cardapio.esgotado {
  opacity: 0.6; /* deixa mais claro */
  filter: grayscale(100%); /* preto e branco */
  pointer-events: none; /* bloqueia clique */
  position: relative;
  transition: opacity 0.3s ease;
}

/* container da imagem precisa ser relativo */
.container-img-produto {
  position: relative;
}

/* tarja “Esgotado” centralizada */
.overlay-esgotado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(220, 53, 69, 0.9); /* vermelho escuro translúcido */
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 8px;
  text-transform: uppercase;
  z-index: 10;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}

/* opcional: animação suave na entrada */
.esgotado .overlay-esgotado {
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.bg-top.details {
  height: 410px;
}

.container-voltar {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  font-size: 18px;
  color: var(--color-black) !important;
}

.container-imagem-produto {
  height: 240px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.sub-title-categoria {
  color: var(--color-text);
  margin-left: 5px;
  font-size: 14px;
}

.card-opcionais {
  display: flex;
  flex-direction: row;
}

.infos-produto-opcional {
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;
}

.infos-produto-opcional .name,
.infos-produto-opcional .price {
  color: var(--color-black);
}

.opcionais .badge {
  float: right;
  background-color: var(--color-secondary);
  padding: 7px 12px;
  border-radius: 50px;
  color: var(--color-black);
  margin-top: 5px;
}

.checks {
  margin-left: 10px;
}

.container-check {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background-color: var(--color-input-out);
}

.container-check:hover input ~ .checkmark {
  background-color: var(--color-text-out);
}

.container-check input:checked ~ .checkmark {
  background-color: var(--color-primary);
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark::before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 16px;
  color: var(--color-red); /* ou a cor que desejar quando desmarcado */
  pointer-events: none;
}

/* Quando marcado, troca o conteúdo e cor */
.container-check input:checked ~ .checkmark::before {
  content: "✓";
  color: var(--color-white); /* cor do símbolo marcado */
}
.form-control {
  background-color: var(--color-white);
  color: var(--color-black) !important;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 16px;
  box-shadow: var(--box-shadow) !important;
  border: none !important;
  height: 50px;
}

:focus {
  box-shadow: none !important;
}

textarea {
  height: 150px !important;
}

.menu-bottom.details {
  justify-content: space-between;
  padding: 8px 15px;
}

.add-carrinho {
  display: flex;
  text-align: center;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.btn-menos,
.btn-mais {
  color: var(--color-black);
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  background: var(--color-primary-out);
}

.add-numero-itens {
  color: var(--color-black);
  padding: 2px 15px;
  font-size: 18px;
}

/* Sobre a empresa */

.bg-top.sobre {
  height: 180px;
}

.title-sobre {
  margin-bottom: 20px !important;
  margin-top: 5px;
  margin-right: 100px;
}

.sobre {
  font-size: 14px;
  color: var(--color-text);
}

.container-img-sobre {
  position: absolute;
  right: 20px;
  margin-top: -50px;
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-white);
  border-radius: 15px;
  box-shadow: var(--box-shadow) !important;
}

.normal-text {
  font-size: 14px;
  color: var(--color-text);
}

.normal-text b {
  color: var(--color-black);
}

.btn-full {
  font-weight: bold;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 10px;
  width: calc(100% - 20px);
  max-width: 800px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 18px;
  box-shadow: var(--box-shadow) !important;
  border: 1px solid #ffe28c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-full.voltar {
  justify-content: center;
}

/* Carrinho */

.bg-top.pedido {
  height: 180px;
}

.container-detalhes {
  display: flex;
}

.carrinho .detalhes-produto {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carrinho .infos-produto {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.carrinho .infos-produto .name {
  font-size: 16px;
}

.carrinho .infos-produto .price {
  font-size: 14px;
  color: var(--color-black);
}

.carrinho .infos-produto .name-opcional,
.carrinho .infos-produto .price-opcional,
.carrinho .infos-produto .obs-opcional {
  font-size: 14px;
  color: var(--color-text);
  margin-left: 10px;
}

.carrinho .infos-produto .obs-opcional {
  margin-right: 75px;
}

.detalhes-produto-edit {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--color-primary);
  cursor: pointer;
}

.carrinho .infos-produto .name-total {
  font-size: 18px;
  color: var(--color-black);
}

.carrinho .infos-produto .price-total {
  font-size: 18px;
  color: var(--color-primary);
}

.card-select {
  border: 2px dashed var(--color-primary) !important;
  cursor: pointer;
}

.color-primary {
  color: var(--color-primary);
}

.color-green {
  color: var(--color-green) !important;
}

.card-address {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-icon-details {
  width: 50px;
  height: 50px;
  background-color: var(--color-secondary);
  color: var(--color-black);
  font-size: 22px;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-address .infos {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}

.card-address .infos .name {
  color: var(--color-black);
}

.icon-edit {
  font-size: 16px;
  color: var(--color-primary);
}

/* cupom desconto */

#selecionar-cupom .container-group {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center; /* <-- centraliza os elementos horizontalmente */
  text-align: center;
  margin-top: 8px !important; /* antes era provavelmente 24px ou mais */
}

#selecionar-cupom .form-group {
  width: 100%;
  max-width: 320px; /* limite de largura para campos */
  margin-bottom: 16px;
}

#selecionar-cupom .form-control {
  width: 100%;
  border-radius: 12px;
  padding: 10px 14px;
  border: none;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-size: 15px;
}

#selecionar-cupom label {
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
  color: #333;
  text-align: left;
}

#selecionar-cupom .btn-yellow {
  background-color: #f1c40f;
  color: #000;
  border-radius: 12px;
  padding: 10px 18px;
  font-weight: 600;
  border: none;
  width: 100%;
  max-width: 320px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#selecionar-cupom .btn-yellow:hover {
  background-color: #e0b709;
  cursor: pointer;
}

#selecionar-cupom .card.card-address {
  margin-top: 4px !important; /* ou 0px para colar de vez */
}

/* pagamento */

#listaCartoesSalvos .card {
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  padding: 10px;
}

#listaCartoesSalvos button {
  font-size: 12px;
  padding: 2px 8px;
}

.cartao-salvo {
  cursor: pointer;
  border: 1px solid #eee;
  transition: all 0.2s ease;
}
.cartao-salvo:hover {
  background-color: #fff8e1;
  transform: scale(1.01);
  border-color: #ffcc00;
}

/* Pedido */

.card-status-pedido {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

.card-status-pedido .infos {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}

.card-status-pedido .infos .name {
  color: var(--color-black);
}

.detalhes-produto {
  flex: 1;
  padding-left: 5px;
}

.detalhes-produto-acoes {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  padding: 5px 15px;
  border-right: 1px solid var(--color-separate);
  color: var(--color-black);
}

.detalhes-produto-acoes:last-child {
  border: none;
}

.detalhes-produto-acoes i {
  font-size: 18px;
}

.pedido .name-total {
  font-size: 14px;
  color: var(--color-black);
}

.pedido .price-total {
  font-size: 16px;
  color: var(--color-primary);
}

.card-status-pedido.active {
  background-color: var(--color-primary-out);
}

.img-icon-details.status {
  width: 30px;
  height: 30px;
  font-size: 14px;
  border-radius: 8px;
}

.card-status-pedido.pending {
  opacity: 0.3;
}

.card-status-pedido.pending .img-icon-details {
  width: 30px;
  height: 30px;
  font-size: 14px;
  border-radius: 8px;
}

.card-status-pedido.cancelado .img-icon-details {
  background-color: var(--color-red);
  color: var(--color-white);
}

/* Modal actions */

.modal-actions {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(0 0 0 / 70%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}

.backdrop {
  flex: 1;
  width: 100%;
  height: 100%;
}

.width-fix.container-modal-actions {
  width: 100%;
  padding: 20px 30px;
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.width-fix.container-modal-actions a {
  text-decoration: none !important;
  width: 100%;
  display: block;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid var(--color-separate);
}

.width-fix.container-modal-actions a:last-child {
  border: none;
}

.color-red {
  color: var(--color-red);
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins-Medium.otf");
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins-Regular.otf");
}

:root {
  --color-background: #fffdf7;
  --color-black: #212121;
  --color-text: #4f4f4f;
  --color-text-out: #90908e;
  --color-primary: #ffbf00;
  --color-primary-out: #ffda6f;
  --color-secondary: #fff2cc;
  --color-white: #ffffff;
  --color-red: #e74c3c;
  --color-green: #2ecc71;
  --color-separate: #cccccc;
  --color-input-out: #ececec;
  --box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

html,
body {
  font-family: "PoppinsRegular", "Rubik", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  user-select: none;
  scroll-behavior: smooth;
}

b {
  font-family: "PoppinsMedium", "Rubik", sans-serif;
}

.hidden {
  display: none !important;
}

.loader-full {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgb(255 253 247 / 95%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pr-0 {
  padding-right: 0px !important;
}

.bg-top {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 110px;
  background-color: var(--color-red);
}

.container-mensagens {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 9999;
}

.toast {
  opacity: 1 !important;
  width: auto;
  color: var(--color-white);
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.toast.red {
  background-color: var(--color-red);
}

.toast.green {
  background-color: var(--color-green);
}

.width-fix {
  width: calc(100% - 20px);
  max-width: 800px;
  margin: 0px auto;
}

.card {
  border-radius: 20px;
  padding: 15px 20px;
  font-size: 20px;
  box-shadow: var(--box-shadow) !important;
  border: none !important;
}

.container-img {
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;
  border-radius: 20px;
}

.infos {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infos h1 {
  font-size: 18px;
  margin-bottom: 5px;
  color: var(--color-black);
}

.infos-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-open {
  font-size: 14px;
  margin-bottom: 0px;
  color: var(--color-green);
}

.status-open.closed {
  color: var(--color-red);
}

.infos-sub {
  display: flex;
  align-items: center;
  gap: 10px;
}

.whatsapp-icon i {
  font-size: 30px;
  color: green; /* ou qualquer cor que preferir */
}

.link {
  text-decoration: none !important;
  font-size: 14px;
  color: var(--color-primary) !important;
}

section.categoria {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--color-background);
  width: 100%;
  padding-top: 15px;
}

.container-menu {
  margin-bottom: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
}

.item-categoria {
  flex: none;
}

.search-container {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  transform-origin: left;
  transition: all 0.3s ease-in-out;
  transform: scaleX(0);
  opacity: 0;
  width: 0;
  padding: 0;
}

.search-container input {
  width: 99%;
}

@media (max-width: 767px) {
  .search-container input {
    width: 98%;
  }
}

.search-container.show {
  transform: scaleX(1);
  opacity: 1;
  width: auto;
}

.search-container .form-control {
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.btn-close-search {
  position: absolute;
  top: auto;
  right: 10px;
  padding: 8px 15px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 15px;
  background: none;
  color: var(--color-black);
}

#btnPesquisar {
  padding: 8px 15px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 15px;
}

.container-menu.searching #listaCategorias {
  display: none;
  transition: all 0.3s ease-in-out;
}

.container-menu.searching .search-container {
  display: flex;
}

.container-menu.searching {
  padding-left: 0px;
}

#listaCategorias {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

#listaCategorias::-webkit-scrollbar {
  height: 0px;
}

.btn-white {
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 20px;
  box-shadow: var(--box-shadow);
}

.btn-yellow {
  border: none !important;
  background-color: var(--color-primary);
  color: var(--color-black) !important;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 20px;
  box-shadow: var(--box-shadow);
}

.btn-red {
  border: none !important;
  background-color: var(--color-red);
  color: var(--color-white) !important;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 20px;
  box-shadow: var(--box-shadow);
}

.btn-sm {
  padding: 8px 13px;
  border-radius: 15px;
  font-size: 16px;
}

.btn-white:hover,
.btn-white.active {
  background-color: var(--color-primary);
}

.title-categoria {
  color: var(--color-black);
  margin-left: 5px;
}

.container-group .card {
  padding: 15px;
  cursor: pointer;
}

.container-img-produto {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-secondary);
  border-radius: 15px;
  margin-right: 20px;
  flex: none;
}

.infos-produto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pedir-produto {
  color: #ffbf00;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.item-cardapio {
  position: relative;
}

.infos-produto .name {
  font-size: 18px;
  color: var(--color-black);
  margin-bottom: 0px;
}

.infos-produto .description {
  font-size: 14px;
  color: var(--color-text);
  margin-bottom: 5px;
}

.infos-produto .price {
  font-size: 16px;
  color: var(--color-primary);
  margin-bottom: 0px;
}

.menu-bottom {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 10px;
  width: calc(100% - 20px);
  max-width: 800px;
  margin: 0 auto;
  border-radius: 50px;
  padding: 5px;
  font-size: 20px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-secondary);
  border: 1px solid #ffe28c;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-bottom-item {
  text-decoration: none !important;
  color: var(--color-text-out) !important;
  font-size: 14px;
  flex: 1;
  text-align: center;
  padding: 12px 15px;
}

.menu-bottom-item.active {
  color: var(--color-black) !important;
  font-weight: bold;
  box-shadow: var(--box-shadow);
  background-color: var(--color-primary);
  border-radius: 50px;
}

.badge-total-carrinho {
  width: 21px;
  height: 21px;
  background-color: var(--color-primary);
  color: var(--color-black);
  border-radius: 50px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  padding-top: 2px;
  margin-right: 2px;
}

.menu-bottom.disabled {
  justify-content: center;
  padding: 15px;
  font-size: 18px;
}

/* Detalhes do produto */

.bg-top.details {
  height: 410px;
}

.container-voltar {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  font-size: 18px;
  color: var(--color-black) !important;
}

.container-imagem-produto {
  height: 240px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.sub-title-categoria {
  color: var(--color-text);
  margin-left: 5px;
  font-size: 14px;
}

.card-opcionais {
  display: flex;
  flex-direction: row;
}

.infos-produto-opcional {
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;
}

.infos-produto-opcional .name,
.infos-produto-opcional .price {
  color: var(--color-black);
}

.opcionais .badge {
  float: right;
  background-color: var(--color-secondary);
  padding: 7px 12px;
  border-radius: 50px;
  color: var(--color-black);
  margin-top: 5px;
}

.checks {
  margin-left: 10px;
}

.container-check {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background-color: var(--color-input-out);
}

.container-check:hover input ~ .checkmark {
  background-color: var(--color-text-out);
}

.container-check input:checked ~ .checkmark {
  background-color: var(--color-primary);
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark::before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 16px;
  color: var(--color-red); /* ou a cor que desejar quando desmarcado */
  pointer-events: none;
}

/* Quando marcado, troca o conteúdo e cor */
.container-check input:checked ~ .checkmark::before {
  content: "✓";
  color: var(--color-white); /* cor do símbolo marcado */
}
.form-control {
  background-color: var(--color-white);
  color: var(--color-black) !important;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 16px;
  box-shadow: var(--box-shadow) !important;
  border: none !important;
  height: 50px;
}

:focus {
  box-shadow: none !important;
}

textarea {
  height: 150px !important;
}

.menu-bottom.details {
  justify-content: space-between;
  padding: 8px 15px;
}

.add-carrinho {
  display: flex;
  text-align: center;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.btn-menos,
.btn-mais {
  color: var(--color-black);
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  background: var(--color-primary-out);
}

.add-numero-itens {
  color: var(--color-black);
  padding: 2px 15px;
  font-size: 18px;
}

/* Sobre a empresa */

.bg-top.sobre {
  height: 180px;
}

.title-sobre {
  margin-bottom: 20px !important;
  margin-top: 5px;
  margin-right: 100px;
}

.sobre {
  font-size: 14px;
  color: var(--color-text);
}

.container-img-sobre {
  position: absolute;
  right: 20px;
  margin-top: -50px;
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-white);
  border-radius: 15px;
  box-shadow: var(--box-shadow) !important;
}

.normal-text {
  font-size: 14px;
  color: var(--color-text);
}

.normal-text b {
  color: var(--color-black);
}

.btn-full {
  font-weight: bold;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 10px;
  width: calc(100% - 20px);
  max-width: 800px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 18px;
  box-shadow: var(--box-shadow) !important;
  border: 1px solid #ffe28c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-full.voltar {
  justify-content: center;
}

/* Carrinho */

.bg-top.pedido {
  height: 180px;
}

.container-detalhes {
  display: flex;
}

.carrinho .detalhes-produto {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carrinho .infos-produto {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.carrinho .infos-produto .name {
  font-size: 16px;
}

.carrinho .infos-produto .price {
  font-size: 14px;
  color: var(--color-black);
}

.carrinho .infos-produto .name-opcional,
.carrinho .infos-produto .price-opcional,
.carrinho .infos-produto .obs-opcional {
  font-size: 14px;
  color: var(--color-text);
  margin-left: 10px;
}

.carrinho .infos-produto .obs-opcional {
  margin-right: 75px;
}

.detalhes-produto-edit {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--color-primary);
  cursor: pointer;
}

.carrinho .infos-produto .name-total {
  font-size: 18px;
  color: var(--color-black);
}

.carrinho .infos-produto .price-total {
  font-size: 18px;
  color: var(--color-primary);
}

.card-select {
  border: 2px dashed var(--color-primary) !important;
  cursor: pointer;
}

.color-primary {
  color: var(--color-primary);
}

.color-green {
  color: var(--color-green) !important;
}

.card-address {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-icon-details {
  width: 50px;
  height: 50px;
  background-color: var(--color-secondary);
  color: var(--color-black);
  font-size: 22px;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-address .infos {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}

.card-address .infos .name {
  color: var(--color-black);
}

.icon-edit {
  font-size: 16px;
  color: var(--color-primary);
}

/* cupom desconto */

#selecionar-cupom .container-group {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center; /* <-- centraliza os elementos horizontalmente */
  text-align: center;
  margin-top: 8px !important; /* antes era provavelmente 24px ou mais */
}

#selecionar-cupom .form-group {
  width: 100%;
  max-width: 320px; /* limite de largura para campos */
  margin-bottom: 16px;
}

#selecionar-cupom .form-control {
  width: 100%;
  border-radius: 12px;
  padding: 10px 14px;
  border: none;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-size: 15px;
}

#selecionar-cupom label {
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
  color: #333;
  text-align: left;
}

#selecionar-cupom .btn-yellow {
  background-color: #f1c40f;
  color: #000;
  border-radius: 12px;
  padding: 10px 18px;
  font-weight: 600;
  border: none;
  width: 100%;
  max-width: 320px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#selecionar-cupom .btn-yellow:hover {
  background-color: #e0b709;
  cursor: pointer;
}

#selecionar-cupom .card.card-address {
  margin-top: 4px !important; /* ou 0px para colar de vez */
}

/* Pedido */

.card-status-pedido {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

.card-status-pedido .infos {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}

.card-status-pedido .infos .name {
  color: var(--color-black);
}

.detalhes-produto {
  flex: 1;
  padding-left: 5px;
}

.detalhes-produto-acoes {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  padding: 5px 15px;
  border-right: 1px solid var(--color-separate);
  color: var(--color-black);
}

.detalhes-produto-acoes:last-child {
  border: none;
}

.detalhes-produto-acoes i {
  font-size: 18px;
}

.pedido .name-total {
  font-size: 14px;
  color: var(--color-black);
}

.pedido .price-total {
  font-size: 16px;
  color: var(--color-primary);
}

.card-status-pedido.active {
  background-color: var(--color-primary-out);
}

.img-icon-details.status {
  width: 30px;
  height: 30px;
  font-size: 14px;
  border-radius: 8px;
}

.card-status-pedido.pending {
  opacity: 0.3;
}

.card-status-pedido.pending .img-icon-details {
  width: 30px;
  height: 30px;
  font-size: 14px;
  border-radius: 8px;
}

.card-status-pedido.cancelado .img-icon-details {
  background-color: var(--color-red);
  color: var(--color-white);
}

/* Modal actions */

.modal-actions {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(0 0 0 / 70%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}

.backdrop {
  flex: 1;
  width: 100%;
  height: 100%;
}

.width-fix.container-modal-actions {
  width: 100%;
  padding: 20px 30px;
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.width-fix.container-modal-actions a {
  text-decoration: none !important;
  width: 100%;
  display: block;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid var(--color-separate);
}

.width-fix.container-modal-actions a:last-child {
  border: none;
}

.color-red {
  color: var(--color-red);
}
