
/* Desktop (col-lg) 992px+ */
@media (min-width: 992px) {

}

/* Desktop e Tablets (col-md) 768px a 991px */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Tablets (col-sm) 576px a 767px */
@media (min-width: 576px) and (max-width: 767px) {

}

/* Tablets e Celulares (col) 0px a 767px */
@media (max-width: 767px) {

    /* Menu Left */

    .bg-menu {
        height: 20px;
    }

    .menu-left .col-12 {
        position: relative;
        padding-top: -25px;
    }

    .menu-left .menus {
        left: -35px;
        top: -90px;
    }

    .logo {
        left: -35px;
        font-size: -55px;
    }
    
    .menu-left .logo {
        left: 8px;
        height: 60PX;
        padding-top: -25px;
        margin: 100PX;
      
    }

    .menu-item {
        font-size: 55%;
        left: 20%;
        right: 20%;
        line-height: 5PX; 
        top: -10px;  
    }

}